body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#board {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid black;
}

.cell:hover {
  background-color: #f0f0f0;
}